<h1>Sobre</h1>

<!-- <p>A Coca-Cola Brasil receberá nos dias <span style="font-weight: bold;">03 e 04 de Julho</span> de 2019 no Rio de Janeiro 
as principais lideranças do Sistema para alinhamento dos <span style="font-weight: bold;">planos de crescimento de 
2020</span> no evento <span style="font-weight: bold;">“Strategy Summit 2020”</span>.</p> -->

<p style="color:rgb(34, 34, 34); font-family: 'Montserrat', sans-serif; font-size: large;">
  A Coca-Cola Brasil receberá nos dias <strong style="font-weight:bold">03 e 04 de Julho</strong> de 2019 no Rio de 
  Janeiro as principais lideranças do Sistema para alinhamento dos <strong style="font-weight:bold">planos de crescimento 
  de 2020</strong> no evento <strong style="font-weight:bold">“Strategy Summit 2020”</strong>.
</p>