<h1><%= @participante.nome %></h1>

<p>
  <strong>Login:</strong>
  <%= @participante.login %>
</p>

<p>
  <strong>Organização:</strong>
  <%= @participante.organizacao %>
</p>

<!--<%= link_to 'Editar', edit_participante_path(@participante) %>-->